# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.layout
*.o
meuporg-client/bin/Debug.zip
meuporg-client/bin/Debug_2.zip
meuporg-server/meuporg-server.depend
meuporg-client/meuporg-client.depend
*.depend
meuporg-client/meuporg-client.depend
meuporg-client/meuporg-client.depend
*.depend
meuporg-server/meuporg-server.depend
meuporg-client/meuporg-client.depend
meuporg-client/meuporg-client.depend
*.depend
meuporg-server/meuporg-server.depend
meuporg-server/meuporg-server.depend
*.depend
meuporg-client/bin/Debug/StessUltime.bat
meuporg-server/meuporg-server.depend
*.depend
meuporg-client/bin/Debug_3.zip
meuporg-client/bin/Debug/assets/equipment.png
meuporg-client/bin/Debug/assets/fonts/license.txt
meuporg-client/bin/Debug/assets/fonts/secrcode.ttf
meuporg-client/bin/Debug/assets/map.png
meuporg-client/bin/Debug/assets/fonts/secrcode.txt
meuporg-client/bin/Debug/assets/saitama_spritesheet.png
meuporg-client/bin/Debug/assets/spartan_spritesheet.png
meuporg-client/bin/Release/assets/equipment.png
meuporg-client/bin/Release/assets/fonts/license.txt
meuporg-client/bin/Release/assets/fonts/secrcode.ttf
meuporg-client/bin/Release/assets/fonts/secrcode.txt
meuporg-client/bin/Release/assets/map.png
meuporg-client/bin/Release/assets/saitama_spritesheet.png
meuporg-client/bin/Release/assets/spartan_spritesheet.png
meuporg-client/bin/Debug/assets/box.png
meuporg-client/bin/Release/assets/box.png
meuporg-client/bin/Release/assets/fonts/monof56.ttf
meuporg-server/gmon.out
meuporg-client/bin/Debug/assets/fonts/monof56.ttf
meuporg-server/bin/Release/db/players.sqlite
meuporg-server/bin/Release/maps/basic.map
meuporg-server/db/players.sqlite
meuporg-server/db/players.sqlite
